[submodule "lib/b64"]
	path = lib/b64
	url = https://github.com/liamHowatt/b64.git
[submodule "lib/jsmn"]
	path = lib/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "lib/fastgltf"]
	path = lib/fastgltf
	url = https://github.com/spnda/fastgltf.git
